#remark {
  color: #888;
  margin-top: 60px;
  padding-top: 20px;
}
#remark .remark-btn {
  font-size: 12px;
}
#remark .remark-btn span {
  margin-right: 20px;
  cursor: pointer;
}
#remark .remark-btn span:nth-child(2) {
  color: #98cb2b;
  text-decoration: underline;
}
#remark .remarkValue {
  margin: 10px 0;
}
#remark .remarkValue textarea {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(204, 204, 204, 0.4);
  resize: none;
}
#remark > ul > li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  margin: 20px 0;
}
#remark li p {
  font-size: 12px;
  line-height: 20px;
}
#remark li > p:nth-child(1) {
  color: #53a946;
}
#remark li > p:nth-child(3) {
  font-size: 10px;
  text-align: right;
}
#remark li > p:nth-child(3) span {
  margin-left: 15px;
}
#remark li > p:nth-child(3) span:nth-child(2),
#remark li > p:nth-child(3) span:nth-child(3) {
  color: #98cb2b;
  cursor: pointer;
}
#remark .reply {
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 30px;
  height: 0;
  background-color: #f3f9f9;
}
#remark .reply textarea {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(204, 204, 204, 0.4);
  resize: none;
}
input[name="remarkSub"],
input[name="replySub"] {
  display: inline-block;
  width: 80px;
  height: 20px;
  border: 1px solid #98cb2b;
  margin-bottom: 10px;
  color: #98cb2b;
  background-color: transparent;
  cursor: pointer;
}
input[name="remarkSub"]:hover,
input[name="replySub"]:hover,
input[name="remarkSub"]:focus,
input[name="replySub"]:focus {
  color: #fff;
  background-color: #98cb2b;
}
.sub-p {
  text-align: right;
}
#remark i.icon-shanchu {
  color: #98cb2b;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}
